{% extends 'base.html' %}

{% block title %}Analysis{% endblock %}

{% block content %}
  <h1>Analysis</h1>
  
  <div class="analysis">
    <h3>How many entries do you have in your database who have applied for Fall 2025?</h3>
    <i><p>Answer: {{ count }}</p></i>
  </div>

  <div class="analysis">
    <h3>What percentage of entries are from international students?</h3>
    <i><p>Answer: {{ percent_international }}%</p></i>
  </div>

  <div class="analysis">
    <h3>What is the average GPA, GRE, GRE V, GRE AW of applicants who provide these metrics?</h3>
    <i>
      <p>GPA: {{ avg_gpa|round(2) }}</p>
      <p>GRE Total: {{ avg_gre|round(2) }}</p>
      <p>GRE Verbal: {{ avg_gre_v|round(2) }}</p>
      <p>GRE AW: {{ avg_gre_aw|round(2) }}</p>
    </i>
  </div>

  <div class="analysis">
    <h3>What is the average GPA of American students in Fall 2025?</h3>
    <i><p>Answer: {{ avg_gpa_american|round(2) }}</p></i>
  </div>

  <div class="analysis">
    <h3>What percent of entries for Fall 2025 are Acceptances?</h3>
    <i><p>Answer: {{ percent_acceptances|round(2) }}%</p></i>
  </div>

  <div class="analysis">
    <h3>What is the average GPA of accepted applicants in Fall 2025?</h3>
    <i><p>Answer: {{ avg_gpa_accepted|round(2) }}</p></i>
  </div>

  <div class="analysis">
    <h3>How many entries are from applicants who applied to JHU for a Master’s in Computer Science?</h3>
    <i><p>Answer: {{ jhu_apps }}</p></i>
  </div>

  <div class="analysis">
    <h3>How many entries from 2025 are acceptances from applicants who applied to Georgetown University for a PhD in Computer Science?</h3>
    <i><p>Answer: {{ gtown_apps }}</p></i>
  </div>

  <div class="analysis">
    <h3>How many students applied for Fall 2025 to a Data Science program?</h3>
    <i><p>Answer: {{ ds_apps }}</p></i>
  </div>

  <div class="analysis">
    <h3>How many students submitted a GRE score?</h3>
    <i><p>Answer: {{ count_GRE }}</p></i>
  </div>
{% endblock %}

